package {{ .PackageName }}

import (
	_ "embed"
)

//go:embed input.txt
var input []byte

const (
	Day  = "{{ .Day }}"
	Year = "{{ .Year }}"
)

func Part1(_ string) (res string, err error) {

	return
}

func Part2(_ string) (res string, err error) {

	return
}